 <footer class="app-footer">
        <!--begin::To the end-->
        <div class="float-end d-none d-sm-inline">Anything you want</div>
        <!--end::To the end-->
        <!--begin::Copyright-->
        <strong>
          Copyright &copy; 2014-2025&nbsp;
          <a href="https://www.justdial.com/Jaipur/Abessys-Technologies-India-Pvt-Ltd-Behind-SBI-Bank-Kanta-Jhotwara/0141PX141-X141-140819010026-C9A5_BZDET" class="text-decoration-none">Abessys Technologies India Pvt. Ltd.JAIPUR</a>.
        </strong>
        All rights reserved.
        <!--end::Copyright-->
      </footer>
